<div class="container">

    <div class="regentry">
        <div class="text-left">
            <h1>Habitaciones</h1>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#habitacionesInactivos">Inactivos</button>
            <button type="submit" class="btn btn-primary" (click)="onNew()">Nueva Habitación</button>
        </div>

        <form [formGroup]="formHabitacion" (ngSubmit)="onSave()" *ngIf="visible">

            <div class="row">
                <div class="col-md-4">
                    <label for="numeroHabitacion-input" class="col-form-label">Numero Habitación</label>
                    <input class="form-control" type="text" formControlName="numeroHabitacion" name="numeroHabitacion" placeholder="Digitar No. de la Habitación">
                    <div *ngIf="formHabitacion.get('numeroHabitacion').invalid && (formHabitacion.get('numeroHabitacion').dirty || formHabitacion.get('numeroHabitacion').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formHabitacion.get('numeroHabitacion').errors.required">
                            Número de habitación Requerida
                        </div>
                        <div *ngIf="formHabitacion.get('numeroHabitacion').errors.minlength">
                            Numero Incompleto
                        </div>
                        <div *ngIf="formHabitacion.get('numeroHabitacion').errors.pattern">
                            Solo se aceptan Número
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="tipoHabitacion" class="col-form-label">Tipo Habitación</label>
                    <select class="form-control" type="" formControlName="tipoHabitacion">
                        <option value="" selected>Selecciona Tipo de Habitación</option>
                        <option *ngFor="let tipoHabitacion of tipos">{{tipoHabitacion.name}}</option>
                    </select>
                    <div *ngIf="formHabitacion.get('tipoHabitacion').invalid && (formHabitacion.get('tipoHabitacion').dirty || formHabitacion.get('tipoHabitacion').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formHabitacion.get('tipoHabitacion').errors.required">
                            Tipo de habitación es requerida
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="precioHabitacion-input" class="col-form-label">Precio Habitación</label>
                    <input class="form-control" type="number" formControlName="precioHabitacion" name="precioHabitacion" placeholder="Digitar Precio de la Habitación">
                    <div *ngIf="formHabitacion.get('precioHabitacion').invalid && (formHabitacion.get('precioHabitacion').dirty || formHabitacion.get('precioHabitacion').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formHabitacion.get('precioHabitacion').errors.required">
                            Precio de la Habitación requerido
                        </div>
                        <div *ngIf="formHabitacion.get('precioHabitacion').errors.min">
                            Precio Incompleto
                        </div>

                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <label for="servicioHabitacion">Servicios de la Habitación</label>
                    <select2 [data]="data" multiple="true" (update)="update_valores_servicios($event)" id="selec2-9" formControlName="servicioHabitacion"
                        placeholder="Escoger los Servicios">
                    </select2>
                    <div *ngIf="valores_servicios.length == 0"
                        class="alert alert-danger">
                            Al menos un servicio es requerido
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="descuentoHabitacion-input">Descuento Habitación</label>
                    <input class="form-control" type="number" formControlName="descuentoHabitacion" name="descuentoHabitacion" placeholder="Digitar % Descuento de la Habitación">
                    <div *ngIf="formHabitacion.get('descuentoHabitacion').invalid && (formHabitacion.get('descuentoHabitacion').dirty || formHabitacion.get('descuentoHabitacion').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formHabitacion.get('descuentoHabitacion').errors.required">
                            Descuento de la Habitación requerido
                        </div>
                        <div *ngIf="formHabitacion.get('descuentoHabitacion').errors.max">
                            Descuento alto
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="fotoHabitacion-input">Foto(s) Habitación</label>
                    <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" multiple>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="{{submitButton}} float-right">{{submitType}}</button>
                    <button type="button" class="btn btn-primary float-right" (click)="onCancel()">Cancelar</button>
                </div>
            </div>
        </form>

        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>NUMERO HAB.</th>
                    <th>TIPO HAB.</th>
                    <th>SERVICIO HAB.</th>
                    <th>PRECIO HAB.</th>
                    <th>DESCUENTO HAB.</th>
                    <th>ESTADO HAB.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let habitacion of habitaciones; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ habitacion.numeroHabitacion }}</td>
                    <td>{{ habitacion.tipoHabitacion }}</td>
                    <td>{{ habitacion.servicioHabitacion }}</td>
                    <td>{{ habitacion.precioHabitacion }}</td>
                    <td>{{ habitacion.descuentoHabitacion }}</td>
                    <td>{{ habitacion.estadohabitacion?"Activo":"Inactivo"}}</td>
                    <td>
                        <button type="button" class="btn btn-info" (click)="onEdit(habitacion, i)">Modificar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="onDelete()">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="habitacionesInactivos" tabindex="-1" role="dialog" aria-labelledby="habitacionesInactivos" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 85%">
        <div class="modal-content">
            <div class="modal-header text-center ">
                <h5 class="modal-title w-100 alert-danger" id="habitacionInactivo">Habitaciones Inactivas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                                <th>#</th>
                                <th>NUMERO HAB.</th>
                                <th>TIPO HAB.</th>
                                <th>SERVICIO HAB.</th>
                                <th>PRECIO HAB.</th>
                                <th>DESCUENTO HAB.</th>
                                <th>ESTADO HAB.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let habitacion of habitacionesInactivos; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                                <td>{{ habitacion.numeroHabitacion }}</td>
                                <td>{{ habitacion.tipoHabitacion }}</td>
                                <td>{{ habitacion.servicioHabitacion }}</td>
                                <td>{{ habitacion.precioHabitacion }}</td>
                                <td>{{ habitacion.descuentoHabitacion }}</td>
                                <td>{{ habitacion.estadohabitacion?"Activo":"Inactivo"}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="onActivate(habitacion, i)">Activar</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>