<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="200px" />
            <h1>MOTELS INN</h1>
            <form [formGroup]="loginUsuarioGroup">
                <div class="form-content">
                    <div>
                        <input type="email" class="form-control input-underline input-lg" formControlName="correoUsuario" placeholder="Digitar Correo">
                        <div *ngIf="loginUsuarioGroup.get('correoUsuario').invalid && (loginUsuarioGroup.get('correoUsuario').dirty || loginUsuarioGroup.get('correoUsuario').touched)" class="alert alert-danger">
                            <div *ngIf="loginUsuarioGroup.get('correoUsuario').errors.required">
                                Correo Usuario Requerido
                            </div>
                            <div *ngIf="loginUsuarioGroup.get('correoUsuario').errors.pattern">
                                Formato correo abc@def.com
                            </div>
                        </div>

                    </div>
                    <br>
                    <div>
                        <input type="password" class="form-control input-underline input-lg" formControlName="claveUsuario" placeholder="Digitar Clave">
                        <div *ngIf="loginUsuarioGroup.get('claveUsuario').invalid && (loginUsuarioGroup.get('claveUsuario').dirty || claveFormGroup.get('claveUsuario').touched)" class="alert alert-danger">
                            <div *ngIf="loginUsuarioGroup.get('claveUsuario').errors.required">
                                Clave Usuario Requerida
                            </div>
                            Minimo 8, Letras y Numeros
                        </div>
                    </div>

                </div>
                <a class="olvide" href=""> Olvide la Clave</a> &nbsp;
                <button type="button" class="btn rounded-btn float-right" (click)="onLogin()"> Ingresar </button> &nbsp;

            </form>
        </div>
    </div>
</div>